In [1]:
import pandas as pd
import numpy as np

In [2]:
### variables
train_dir = '/mnt/original_dataset/'


### datasets
asset_details = pd.read_csv(f'{train_dir}/asset_details.csv')
train_df = pd.read_csv(f'{train_dir}/train.csv')

In [3]:
display(asset_details.head())
display(train_df.head())
# display(train_df.describe())

   Asset_ID    Weight        Asset_Name
0         2  2.397895      Bitcoin Cash
1         0  4.304065      Binance Coin
2         1  6.779922           Bitcoin
3         5  1.386294            EOS.IO
4         7  2.079442  Ethereum Classic

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [20]:
asset_ids = asset_details.Asset_ID.unique()
for i, row in asset_details.iterrows():
#     print(row['Asset_ID'], row['Asset_Name'])
    sliced = train_df[train_df.Asset_ID == row['Asset_ID']]
    sliced.to_csv(f'/mnt/intermediate_datasets/{row["Asset_Name"]}.csv')